<div class="px-4 py-16">
  <div class="flex flex-col gap-2 max-w-screen-xl mx-auto">
    <h1 class="text-4xl font-bold">Sobre o Neovim</h1>
    <div>
      <p class="text-lg">
        Neovim é um editor de texto altamente extensível baseado em Vim.
      </p>
      <p class="text-lg">
        O diferencial é que nele você tem um fácil acesso ao código, amplo
        controle e uma comunidade internacional engajada. Além de usar tudo o
        que o Vim já tem de bom.
      </p>
    </div>

    <h4 class="text-2xl font-bold">Por que usar o Neovim?</h4>
    <div>
      <p class="text-lg">
        O Neovim permite configura-lo por completo com uma boa documentação,
        além de instalar plugins que outras pessoas fizeram. A facilidade de
        criar um código para melhorar sua experiência é enorme. Ele te força a
        aprender sobre a sua ferramenta e entender como as coisas funcionam por
        baixo dos panos. E também aumenta a velocidade que você edita, escreve,
        apaga e edita código.
      </p>
    </div>

    <h4 class="text-2xl font-bold">
      Você sabia que o Neovim é bem brasileiro?
    </h4>
    <div>
      <p class="text-lg">
        O Neovim usa a linguagem Lua para arquivos de configuração e plugins.
        Essa linguagem é brasileira e foi criada na PUC-RJ. Mas não só isso, mas
        o próprio projeto do NVim foi criado por um brasileiro, o Thiago de
        Arruda.
      </p>
    </div>
  </div>
</div>
