<header class="max-w-screen-xl mx-auto">
  <nav class="p-4">
    <div class="flex gap-6">
      <a href="/" class="text-[#29332f]" aria-label="logo">
        {{ partial "neovim-logo.html"}}
      </a>

      <div class="flex items-center" id="neovim-navbar">
        <ul class="flex gap-8">
          <li>
            <a
              href="https://github.com/OuthBack/kickstart-pt-br.nvim"
              class="text-[#29332f]"
              aria-label="logo"
              >Como começar?</a
            >
          </li>
          <li>
            <a
              href="https://github.com/OuthBack/neovim.com.br"
              class="text-[#29332f]"
              aria-label="logo"
              >Repositório do site</a
            >
          </li>
        </ul>
      </div>

      <!-- algolia docsearch https://docsearch.algolia.com/docs/docsearch-v3/ -->
      <div id="docsearch"></div>
    </div>
  </nav>
</header>
