<div class="w-full bg-[#d3e4db] px-4 py-8">
  <div class="flex gap-4 max-w-screen-xl mx-auto w-full">
    <div class="flex flex-col gap-4 w-7/12">
      <h1 class="text-2xl font-bold">Intro</h1>
      <p>Futuramente em Português BR</p>
      <div class="relative">
        <div class="pt-[56.25%]">
          <iframe
            class="intro-video w-full h-full absolute top-0 bottom-0 right-0 left-0"
            src="https://www.youtube-nocookie.com/embed/c4OyfL5o7DU"
            title="Neovim in 100 seconds"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4">
      <h1 class="text-2xl font-bold">Chat</h1>
      <ul class="list-disc pl-8 text-lg">
        <li>
          Comece uma thread no
          <a class="text-[#00b952]" href="https://www.tabnews.com.br/publicar"
            >TabNews</a
          >.
        </li>
        <li>
          Contribua com código, reporte bugs e peça novas funcionalidades no
          <a class="text-[#00b952]" href="https://github.com/neovim/neovim">
            GitHub</a
          >.
        </li>
      </ul>
    </div>
  </div>
</div>
