<section class="flex flex-col gap-4 items-center bg-[#d3e4db] px-4 py-8 w-full">
  <h1 class="font-bold text-4xl">
    Editor de texto HYPEREXTENSÍVEL baseado em Vim
  </h1>
  <div class="flex w-full gap-4 justify-center">
    <button
      class="bg-[#00b952] rounded px-8 py-4 ring-4 ring-transparent hover:ring-white ease-in duration-150"
    >
      <a
        href="https://github.com/neovim/neovim/blob/master/INSTALL.md"
        class="text-xl text-white hover:text-white"
        >Instalar Neovim</a
      >
    </button>
    <button
      class="bg-[#00b952] rounded px-8 py-4 ring-4 ring-transparent hover:ring-white ease-in duration-150"
    >
      <a
        href="https://github.com/OuthBack/kickstart-pt-br.nvim"
        class="text-xl text-white hover:text-white"
        >Configurar Neovim</a
      >
    </button>
  </div>
</section>
